<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogInventory\Model\ResourceModel\Stock\Item">
        <plugin name="algoliaStockItems" disabled="true"/>
    </type>

    <type name="Magento\InventoryApi\Api\SourceItemsSaveInterface">
        <plugin name="algoliaInventorySourceItemsSave"
            type="Algolia\AlgoliaSearchInventory\Plugin\InventoryApi\SourceItemsSavePlugin"
            sortOrder="9999" disabled="true"/>
    </type>

    <type name="Magento\InventoryApi\Api\SourceItemsDeleteInterface">
        <plugin name="algoliaInventorySourceItemsDelete"
            type="Algolia\AlgoliaSearchInventory\Plugin\InventoryApi\SourceItemsDeletePlugin"
            sortOrder="9999"/>
    </type>

    <type name="Algolia\AlgoliaSearch\Helper\Entity\ProductHelper">
        <plugin name="algoliaInventoryIsInStockFilter"
            type="Algolia\AlgoliaSearchInventory\Plugin\Helper\ProductHelperPlugin"
        />
    </type>

    <preference for="Algolia\AlgoliaSearch\Helper\Entity\ProductHelper" type="Algolia\AlgoliaSearchInventory\Helper\InventoryProductHelper" />
    <preference for="Algolia\AlgoliaSearch\Service\Product\RecordBuilder" type="Algolia\AlgoliaSearchInventory\Service\Product\InventoryProductRecordBuilder" />
</config>
